@charset "utf-8";


/* Pretendard Font Family 정의 */
@font-face {
	font-family: "Pretendard";
	src: url("../fonts/Pretendard-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../fonts/Pretendard-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../fonts/Pretendard-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../fonts/Pretendard-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../fonts/Pretendard-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
/* Token variables */
	/* color */
	--black: #000;
	--black-rgb: 0,0,0;
	--white: #fff;
	--white-rgb: 255,255,255;	
	
	--blue-500: #0d6efd;
	--blue-500-rgb: 13,110,253;
	--red-500: #D93B30;
	--red-500-rgb: 217,59,48;
	--green-500: #4B830D;
	--green-500-rgb: 75,131,13;
	--yellow-100: #FFFBF1;
	--yellow-100-rgb: 255, 251, 241;
	--yellow-200: #FBF1D4;
	--yellow-200-rgb: 251, 241, 212;
	--yellow-500: #FFB546;
	--yellow-500-rgb: 255,181,70;
	--violet-50: #F7F6FF; /*연보라색*/
	--violet-50-rgb: 247,246,255;
	--violet-500: #5A4FCF; /* f */ 
	--violet-500-rgb: 90,79,207;
	
	/* grayScale */
	--gray-100: #f8f8f8; /* f */ 
	--gray-100-rgb: 248,248,248;
	--gray-150: #f2f2f2; /* f */ 
	--gray-150-rgb: 242,242,242;
	--gray-200: #e9ecef;
	--gray-200-rgb: 233,236,239;
	--gray-300: #d9d9d9; /* f */ 
	--gray-300-rgb: 217,217,217;
	--gray-400: #c3c3c5; /* f */ 
	--gray-400-rgb: 195,195,197;
	--gray-500: #adb5bd;
	--gray-500-rgb: 173,181,189;
	--gray-600: #666666; /* f */ 
	--gray-600-rgb: 102,102,102;
	--gray-700: #4B506A;
	--gray-700-rgb: 75,80,106;
	--gray-800: #333333; /* f */ 
	--gray-800-rgb: 51,51,51;
	--gray-900: #222222; /* f */ 
	--gray-900-rgb: 34,34,34;

	/* primary */
	--color-primary: var(--violet-500);
	--color-primary-rgb: var(--violet-500-rgb);
	/* secondary */
	--color-secondary: var(--gray-700);
	--color-secondary-rgb: var(--gray-700-rgb);
	
	/* font base --font- */
	--font-family-base: 'Pretendard', 'Apple SD Gothic Neo', 'Segoe UI', system-ui, -apple-system, sans-serif;
	--font-size-base: 16px;

	--font-color-base: var(--gray-800);
	--font-color-base-rgb: var(--gray-800-rgb);
	--font-color-light: var(--gray-600);
	--font-color-light-rgb: var(--gray-600-rgb);
	--font-color-inverse: var(--white);
	--font-color-inverse-rgb: var(--white-rgb);

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--line-height-sm: 1;
	--line-height-md: 1.3;
	--line-height-lg: 1.5;

	/* background base --bg- */
	--bg-base: var(--white);
	--bg-base-rgb: var(--white-rgb);
	--bg-tint: var(--violet-50); /*연보라색*/
	--bg-tint-rgb: var(--violet-50-rgb);
	--bg-alt: var(--gray-100);
	--bg-alt-rgb: var(--gray-100-rgb);
	--bg-yellow: var(--yellow-100); /*연노란색*/
	--bg-yellow-rgb: var(--yellow-100-rgb);

	/* border --border- */
	/* shadow --shadow- */
	--shadow-base: 0 0.5rem 1rem rgba(var(--black-rgb), 0.15);

	/* radius --border-radius- */
	--border-radius-sm: 4px;
	--border-radius-lg: 0.7500rem;

/* 컴포넌트 */
	/* body font style */
	--body-font-family: var(--font-family-base);
	--body-font-size: 0.7500rem;
	--body-font-weight: var(--font-weight-regular);
	--body-line-height: var(--line-height-lg);
	--body-font-color: var(--font-color-base);
	--body-font-color-rgb: var(--font-color-base-rgb);
}
/* reboot ------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*, *::before, *::after {
	box-sizing: border-box;
}
:focus {
	outline-width:medium;
}
a {
	text-decoration: none;
	color: inherit;
}
img, svg {
	vertical-align: middle;
}
button, input, optgroup, select, textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}
button {
	text-transform: none;
	cursor: pointer;
	background: transparent;
	border: none;
	padding: 0;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* common ------------------------------------------------------- */
img {
	display: inline-block;
	width: 100%;
}
html {	
	font-size: var(--font-size-base);
}
body {
	font-family: var(--body-font-family);
	font-weight: var(--body-font-weight);
	line-height: var(--body-line-height);
	color: var(--body-font-color);
	background-color: var(--color-bg);
	-webkit-text-size-adjust: 100%;
}
/* hidden */
.hidden, .hide {
	display: none!important;
}
.visually-hidden {
	position: absolute!important;
	width: 0!important;
	height: 0!important;
	padding: 0!important;
	margin: -1px!important;
	overflow: hidden!important;
	clip: rect(0, 0, 0, 0)!important;
	white-space: nowrap!important;
	border: 0!important;
	color: transparent!important;
	font-size: 0!important;
	opacity: 0!important;
}
/* padding */
.p-0 {padding: 0 !important;}
.px-0 {padding-left: 0 !important; padding-right: 0 !important;}
/* background color */
.bg-tint {
	background-color: var(--bg-tint);
}
.bg-alt {
	background-color: var(--bg-alt);
}
.bg-yellow {
	background-color: var(--bg-yellow);
}
.bg-grad-wy {
	background: -webkit-linear-gradient(top, var(--white), var(--yellow-200));
	background: -moz-linear-gradient(top, var(--white), var(--yellow-200));
	background: linear-gradient(to bottom, var(--white), var(--yellow-200));
}
.bg-grad-yy {
	background: -webkit-linear-gradient(top, var(--yellow-200), var(--yellow-100));
	background: -moz-linear-gradient(top, var(--yellow-200), var(--yellow-100));
	background: linear-gradient(to bottom, var(--yellow-200), var(--yellow-100));
}
.bg-grad-yg {
	background: -webkit-linear-gradient(top, var(--yellow-100), var(--gray-100));
	background: -moz-linear-gradient(top, var(--yellow-100), var(--gray-100));
	background: linear-gradient(to bottom, var(--yellow-100), var(--gray-100));
}
.bg-grad-gy {
	background: -webkit-linear-gradient(top, var(--gray-100), var(--yellow-100));
	background: -moz-linear-gradient(top, var(--gray-100), var(--yellow-100));
	background: linear-gradient(to bottom, var(--gray-100), var(--yellow-100));
}
/* swiper */
.swiper {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	position: relative;
	text-align: center;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	max-height: 23.1250em;
	object-fit: cover;
}
.swiper-slide .text-wrap {
	position: absolute;
	left: 25%;
	transform: translateX(-15%);
	gap: 0.5em;
}
.swiper-slide .text-wrap > * {
	color: var(--white);
}
.swiper-slide .section__title {
	font-size: 1em;
	font-size: clamp(0.675em, 3vw, 1.8em);
	font-weight: var(--font-weight-semibold);
}
.swiper-slide .nav-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	font-size: 1em;
	font-size: clamp(0.45em, 3vw, 1em);
	font-weight: var(--font-weight-regular);
}
.swiper-slide .nav-link:hover {
	color: var(--white);
}
.swiper-slide .nav-link::after {
	display: inline-block;
	content: "";
	width: 1em;
	height: 1em;
	background-image: url(../images/icon-link.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.swiper-button-next,.swiper-button-prev {
	--swiper-navigation-size: 1.75vw;
	--swiper-theme-color: var(--white);
	top: var(--swiper-navigation-top-offset,50%);
	width: calc(var(--swiper-navigation-size)/ 44 * 80);
}
.swiper-pagination-bullet {
	--swiper-pagination-color: var(--white);
	--swiper-pagination-bullet-inactive-color: var(--white);
}
/* ==================================
해상도 구간 : PC First(PC(기준 해상도 1440px) → 모바일)
-------------------------------
XXX-Large: 1400px 이상

XX-Large: ~1399px, 1200~1399px
X-Large: 1199px, 992~1199px
Large: 991px, 768~991px
Medium: 767px, 576~767px

Small: 575px, 480~575px
X-Small: 479px 이하
================================== */
/* XXX-Large devices (extra large desktops, 1400px and up) */
body {
	font-size: var(--body-font-size);
}
/* mobile hidden : PC 기준 항상 보이게 */
.pc-only {display: block;}
.mo-only {display: none;}
.only-mobile, .only-tablet, .only-wide {display: none !important;}
.only-desktop {display: block !important;}

/* row: 열 */
.row { 
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 16px;
}
/* col: row 안 아이템 균등비율 필요 시 */
.col { 
	flex: 1;
}
.row-reverse {
	flex-direction: row-reverse;
}
/* flex 세로정렬  */
.column { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 36px;
}
.column-start {
	align-items: flex-start;
	text-align: left;
}
.column-end {
	align-items: flex-end;
	text-align: right;
}
/* section-block */
.section-block {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 72px 54px;
}
.section__title {
	font-size: 2.1875rem; /* f */
	font-size: clamp(1rem, 3.5vw, 2rem); /* f */
	font-weight: var(--font-weight-bold);
	color: var(--text-base);
}
.section__title--lg {
	font-size: 2.1875rem; /* f */
	font-size: clamp(1rem, 3.5vw, 2rem); /* f */
}
.section__text {
	font-size: 1.1250rem; /* f */
	font-size: clamp(0.7500rem, 1.5vw, 1.1250rem); /* f */
	font-weight: var(--font-weight-medium);
	color: var(--text-base);
}
.section__text--lg {
	font-size: 1.1250rem; /* f */
	font-size: clamp(0.7500rem, 1.5vw, 1.1250rem); /* f */
	font-weight: var(--font-weight-semibold);
}
.text--primary {
	color: var(--color-primary);
}
.text--gray {
	color: var(--text-light);
}
.text-wrap.column {
	gap: 16px;
}

/* tag */
.tag {
	display: inline-block;
	text-align: center;
	border-radius: 0.5rem;
	background-color: var(--color-primary);
	padding: 0.5rem 1rem;
}
.tag__text {
	display: inline-block;
	font-size: 1.2500rem; /* f */
	font-size: clamp(0.9375rem, 1.5vw, 1.2500rem); /* f */
	font-weight: 600;
	color: var(--font-color-inverse);
}
.tag--ghost {
	background-color: transparent;
}
.tag--ghost .tag__text {
	color: var(--color-primary);
}

/* button */
.btn {
	--font-color: var(--font-color-base);
	--border-width: 1px;
	--border-style: solid;
	--border-radius: 0.2500rem;
	--text-align: center;
	--font-weight: var(--font-weight-semibold);

	font-size: var(--font-size);
	line-height: var(--line-height);
	font-weight: var(--font-weight);
	color: var(--font-color);
	text-align: var(--text-align);
	background-color: var(--bg-color);
	border: var(--border-width) var(--border-style) var(--border-color);
	border-radius: var(--border-radius);
	padding: var(--padding-y) var(--padding-x);
}
.btn-primary {
	--font-color: var(--font-color-inverse);
	--bg-color: var(--color-primary);
	--border-color: var(--color-primary);
}
.btn-secondary {
	--font-color: var(--font-color-inverse);
	--bg-color: var(--gray-600);
	--border-color: var(--gray-600);
}
.btn-fit {
	--min-width: 100%;
	min-width: var(--min-width);
}
.btn-sm {
	--min-width: 3.1437rem;
	--min-height: 1.2500rem;
	--font-size: 0.8333em;
	--line-height: 1.2000em;
	font-weight: var(--font-weight-semibold);
	--padding-x: 0.7000em;
	--padding-y: 0.3000em;
	min-width: var(--min-width);
	min-height: var(--min-height);
}
.btn-md {
	--min-width: ;
	--font-size: 0.8333em;
	--line-height: 1;
	--font-weight: var(--font-weight-semibold);
	--padding-x: 1em;
	--padding-y: 0.6000em;
	min-width: var(--min-width);
}
.btn-lg {
	--min-width: 10em;
	--font-size: 1;
	--line-height: 1;
	--font-weight: var(--font-weight-semibold);
	--padding-x: 0.4583em;
	--padding-y: 0.4583em;
	min-width: var(--min-width);
}
.ic-btn {
	padding: 0.5em;
}


/* layout ------------------------------------------------------- */
/* 헤더 */
.header {
	position: relative;
	width: 100%;
	min-height: 4.0000em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.5000em;
	margin: auto;
	z-index: 1020;
}
.header__inner {
	width: 100%;
	max-width: 85.1667em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 8.3800em;
	row-gap: 1em;
}
.navbar-toggler {
	display: none;
}
.header__content {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
.control {
	display: flex;
	align-items: center;
	gap: 0.7500em;	
	padding-right: 4.5000em;
	margin-left: auto;
}
.header__brand .brand-img {
	width: 5.1200em;
}
.offcanvas-body {
	width: 100%;
	display: flex;
	align-items: center;
}
.navbar-nav {
	display: flex;
	align-items: center;
	column-gap: 4.4167em;
}
.nav-item {
	flex: 1 auto;
	display: flex;
	flex-direction: column;
}
.nav-link {
	flex: 1 auto;
	width: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: var(--gray-800);
	padding: 0.2500em;
}
.nav-link > span {
	font-size: 1.1667em;
	font-weight: var(--font-weight-semibold);
	line-height: 1.1429em;
}
.nav-link:hover {
	color: var(--gray-800);
}


/* dropdown */
.dropdown {
	position: relative;
}
.dropdown-menu {
	display: none;
	min-width: 9.1875rem;
	position: absolute;
	top: 100%;
	left: 40%;
	border: 1px solid var(--gray-300);
	background-color: var(--white);
	padding: 0.4375rem 0;
	border-radius: 0.3125rem;
	/* white-space: nowrap; */
	box-shadow: var(--shadow-base);

	opacity: 0;
	visibility: hidden;
	transform: translateY(10px);
	transition: opacity .2s ease, transform .2s ease;
}
.dropdown-menu .nav-link > span {
	font-size: 0.6875rem;
	line-height: 1.1818em;
	color: var(--gray-800);
}
.dropdown-menu .nav-link:hover {
	font-weight: var(--font-weight-semibold);
}

/* PC hover & JS toggle 공통 */
.dropdown-menu.is-open {
	display: flex;
	flex-direction: column;
	row-gap: 0.2500em;
}

/* dropdown-menu : Mobile toggle*/
.dropdown-menu.is-open {
	opacity: 1;
	visibility: visible;
	transform: translateY(-0.2500em);
}


/* Footer */
.footer {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--gray-800);
	color: var(--font-color-inverse);
	padding: 2.8125rem 1.8750rem;
}
.footer strong {
	font-weight: var(--font-weight-bold);
}
.footer__inner {
	width: 100%;
	max-width: 95.7925em;	
	display:flex;
	flex-wrap: wrap;
	column-gap: 1.8750rem;
	row-gap: 1.8750rem;
	/* padding: 0 5.764vw; */
}
.footer__content {
	display:flex;
}
.company {
	flex-direction: column;
}
.footer__brand {
	margin-bottom: 2.5000rem;
}
.footer__brand .brand-img {
	max-width: 6.5000em;
}
.footer__info {
	display: flex;
	flex-direction: column;
	gap: 0.6250rem;
}
.footer__info > * {
	display: flex;
	column-gap: 0.6250rem;
	font-size: 0.8333em;
	line-height: 1.0000em;
}
.footer__info strong {
	font-weight: var(--font-weight-semibold);
}
.sitemap {
	flex-wrap: wrap;
	gap: 1.8750rem;
	margin: 0 auto;
}
.sitemap > * {
	min-width: 9.1667em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.content__col > * {
	display: flex;
	flex-direction: column;
	gap: 1.1667em;
}
.sitemap * {
	font-size: 0.8750rem;
	line-height: 1.0625rem;
	font-weight: var(--font-weight-regular);
}
.sitemap h4 {
	font-weight: var(--font-weight-bold);
}
.externalLink {
	flex-direction: column;
	gap: 0.9375rem;
}
.externalLink img {
	max-width: 8.7819rem;
}

/* page ------------------------------------------------------- */
/* page : index */
/* index 내 slide를 제외한 제일 첫 section */
.intro-section .section-block { 
	padding-bottom: 0;
}
.intro-section .logo {
	width: 400px;
}
.intro-section .section-block > .section-block {
	background: -webkit-linear-gradient(top, var(--white), var(--yellow-200));
	background: -moz-linear-gradient(top, var(--white), var(--yellow-200));
	background: linear-gradient(to bottom, var(--white), var(--yellow-200));
}
/* page : culture, about */
.bg-img {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 460px;
	/* max-height: 480px; */
	background-size: cover;
	background-position: center, center;
	background-repeat: no-repeat;
}
.bg-img.about {
	background-image: url(../images/about_background.png);
}
.bg-img.culture {
	background-image: url(../images/culture_background.png);
}
.bg-img .section__text,
.bg-img .section__title {
	color: var(--font-color-inverse);
}
/* page : about */
/* history : 연혁 */
.history-year {
	font-size: 32px;
	font-weight: var(--font-weight-bold);
}
.history-list {
	font-size: 26px;
	font-weight: var(--font-weight-medium);
}  
.history-list .month {
	font-weight: var(--font-weight-bold);
	margin-right: 14px;
}
/* 양 옆 가려지는 이미지 */
.image-wrap--overflow {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.image-wrap--overflow::before,
.image-wrap--overflow::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100px;       /* 그라데이션의 폭 조정 가능 */
	pointer-events: none;
	z-index: 1;
}
.image-wrap--overflow::before {
	left: 0;
	background: linear-gradient(to right, var(--white), transparent);
}
.image-wrap--overflow::after {
	right: 0;
	background: linear-gradient(to left, var(--white), transparent);
}
.image-wrap--overflow img {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	min-width: 100%;
	max-width: none;
	height: auto;
}




/* 대형 데스크탑 */
/* XX-Large devices (large desktops, 1200px ~ 1399.98px) */
@media (max-width: 1399.98px) {
	.hidden-xxl { display: none !important; }
	.show-xxl { display: block !important; }
}
@media (min-width: 1200px) and (max-width: 1399.98px) { }

/* 일반 데스크탑 */
/* X-Large devices (desktops, 992px ~ 1199.98px) */
@media (max-width: 1199.98px) {
	.hidden-xl { display: none !important; }
	.show-xl { display: block !important; }
}
@media (min-width: 992px) and (max-width: 1199.98px) { }

/* 모바일 가로 / 태블릿 세로 */
/* Large devices (tablets & small desktops, 768px ~ 991.98px) */
@media (max-width: 991.98px) {
	.hidden-lg { display: none !important; }
	.show-lg { display: block !important; }
}
@media (min-width: 768px) and (max-width: 991.98px) { }

/* 대형 모바일 / 태블릿 가로 */
/* Medium devices (tablets & large mobile, 576px ~ 767.98px) */
@media (max-width: 767.98px) {
	.hidden-md { display: none !important; }
	.show-md { display: block !important; }

	.header {
		min-height: 3.8750rem;
	}
	.header__inner {
		column-gap: 1rem;
	}	
	.control {
		display: none;
	}
	.navbar-toggler {
		display: block;
	}
	.navbar-nav {
		width: 100%;
		flex-direction: column;
	}
	.offcanvas {
		visibility: hidden;
		width: 100%;
		max-width: 100%;
		height: 100%;
		position: fixed;
		top: 3.8750em;
		right: 0;
		bottom: 0;
		transform: translateX(100%);
		background-color: var(--white);
		padding: 0.6250em 0;
		display: flex;
		flex-direction: column;		
		transition: transform .2s ease-in-out;	
	}
	.offcanvas.is-show {
		visibility: visible;
		transform: none;
		overflow: auto;
	}
	.offcanvas.is-show .offcanvas-body {
		padding: 0 1.2500em;
	}
	.navbar-nav > .nav-item {
		width: 100%;
		border-top: 1px solid rgba(var(--black-rgb), 0.15);
	}
	.navbar-nav > .nav-item:first-child {
		border-top: 0 solid rgba(var(--black-rgb), 0.15);
	}
	
	.navbar-nav > .nav-item > .nav-link {
		color: var(--gray-800);
		padding: 0.9375em;
	}
	.nav-link > span {
		font-size: 1.2500em;
		font-weight: var(--font-weight-medium);
		line-height: 1em;
	}
	.dropdown-menu {
		position: static;
		min-width: unset;
		border: none;
		background-color: var(--gray-100);
		padding: 1.3750rem 0.6875rem;
		box-shadow: none ;
		margin: 0 1rem 1rem;
	}
	.dropdown-menu .nav-link {
		font-size: 1.0625rem;
		font-weight: var(--font-weight-medium);
		color: var(--gray-800);
	}
	.navbar-nav > .dropdown > .nav-link:after {
		display: inline-block;
		width: 0.5em;
		height: 0.5em;
		content: " ";
		border-style: solid;
		border-width: 0.1em 0.1em 0 0;
		margin-top: -0.25rem;
		margin-left: auto;
		margin-right: 0.6250rem;
		transform: rotate(135deg);
		transition: transform 0.25s;
	}
	.navbar-nav > .dropdown > .nav-link.is-active:after {
		transform: rotate(-45deg); 
	}
	.swiper-slide img {
		min-height: 18rem;
	}
	.swiper-slide .section__title {
		font-size: 1.5rem; /* f */
	}
	.swiper-slide .nav-link {
		font-size: 1rem; /* f */
	}
	.swiper-slide .column-start {
		align-items: center;
		text-align: left;
	}
	.swiper-button-next,.swiper-button-prev {
		--swiper-navigation-size: 1.5em;
		--swiper-theme-color: var(--white);
		width: calc(var(--swiper-navigation-size)/ 22 * 30);
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {}

/* 작은 모바일 (가로형) */
/* Small devices (landscape phones, 480px ~ 575.98px) */
@media (max-width: 575.98px) {
	.hidden-sm { display: none !important; }
	.show-sm { display: block !important; }
}
@media (min-width: 480px) and (max-width: 575.98px) { }

/* 초소형 모바일 (세로형) */
/* X-Small devices (mobile, up to 479.98px) */
@media (max-width: 479.98px) {
	:root {
		--body-font-size: 1rem;
	}

	.hidden-xs { display: none !important; }
	.show-xs { display: block !important; }
	
	.pc-only { display: none; }
	.mo-only { display: block; }
	.features { display: none; }

	/* row, column 정렬 변경 */
	.row {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.column {
		gap: 16px;
	}
	.column-end, .column-start {
		align-items: center;
		text-align: center;
	}
	.section-block {
		padding: 42px 26px;
	}
	/* section 텍스트 크기 */
	.section__title {
		font-size: 20px;
	}
	.section__title--lg {
		font-size: 20px;
	}  
	.section__text {
		font-size: 12px;
	}
	.section__text--lg {
		font-size: 20px;
	}
	.bg-tint .section__title {
		font-size: 14px;
	}
	.text-wrap.column {
		gap: 8px;
	}

	/* tag 텍스트 크기*/
	.tag {
		padding: 0.5rem 1rem;
	}
	.tag__text {
		font-size: 12px;
	}

	/* img bi 공통 */
	.img.bi {
		width: 188px;
	}
	/* footer */
	.site-footer { padding: 22px 0 32px; }
	.site-footer__company { font-size: 18px; }
	.site-footer__addr { font-size: 16px; line-height: 1.65; }
	.site-footer__copy { font-size: 14px; }

	/* page : index */
	/* index 내 slide를 제외한 제일 첫 section */
	.intro-section { 
		background: -webkit-linear-gradient(top, var(--white), var(--yellow-200));
		background: -moz-linear-gradient(top, var(--white), var(--yellow-200));
		background: linear-gradient(to bottom, var(--white), var(--yellow-200));
	}
	.intro-section .section-block > .section-block {
		background: unset;
}
	/* page : culture, about */
	.bg-img {
		height: 360px;
		min-height: 360px;
		max-height: 500px;
	}

	.bg-img .section__text--lg {
		font-size: 14px;
	}
	/* page : about */
	/* history : 연혁 */
	.history.column-start {
		align-items: start;
		text-align: left;
	}
	.history-year {
		font-size: 16px;
		font-weight: var(--font-weight-bold);
	}
	.history-list {
		font-size: 12px;
		font-weight: 500;
	}
	.history-list .month {
		font-weight: var(--font-weight-bold);
		margin-right: 14px;
	}
	/* map */
	.map {
		height: 360px;
	}
}


/* ==================================
	DEVICE
================================== */
/* 모바일 (터치 전용 기기) */
@media (pointer: coarse) {
	.pc-only {
		display: none;
	}
	.mo-only {
		display: block;
	}
	.features {
		display: none;
	}
}
/* PC (정교한 포인터, 마우스) */
@media (pointer: fine) {
}
/* PC: hover 가능 */
@media (hover: hover) {
}
/* 모바일: hover 불가능 → 대체 스타일 */
@media (hover: none) {
}


















